#u6613,#u6611
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u6093-5
{
	background-color: transparent;
	position: fixed;
}

#u6093
{
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

#u6094-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
}

#u6095-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
}

#u6096-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
}

#u6097-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
}

#u6093-5:hover p,#u6093-5:hover a,#u6093-5:hover span,#u6094-4:hover p,#u6094-4:hover span,#u6095-4:hover p,#u6095-4:hover span,#u6096-4:hover p,#u6096-4:hover span,#u6097-4:hover p,#u6097-4:hover span
{
	color: #F0D98E;
	visibility: inherit;
}

#u6093-3,#u6094-2,#u6095-2,#u6096-2,#u6097-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6094,#u6095,#u6096,#u6097
{
	font-size: 18px;
	line-height: 22px;
}

#u292
{
	border-color: #000000;
	background-color: #022F3E;
	position: fixed;
}

#u294,#u296,#u6144
{
	border-color: #000000;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,43,-88);
	-ms-transform: matrix(0,1,-1,0,43,-88);
	transform: matrix(0,1,-1,0,43,-88);
	background: transparent url("../images/hasen.gif") repeat-x left top;
}

#u293-8
{
	background-color: transparent;
	text-align: left;
	font-weight: bold;
	position: fixed;
}

#u293
{
	line-height: 4px;
	color: #2BDEFF;
}

#u293-6
{
	line-height: 20px;
	color: #FFFFFF;
}

#u293-4
{
	color: #FFFFFF;
}

#u295-7
{
	background-color: transparent;
	text-align: left;
	font-weight: bold;
	position: fixed;
}

#u293-8:hover p,#u293-8:hover span,#u295-7:hover p,#u295-7:hover span
{
	color: #E21E79;
	visibility: inherit;
}

#u295
{
	font-size: 24px;
	line-height: 6px;
	color: #2BDEFF;
}

#u295-5
{
	font-size: 22px;
	line-height: 32px;
	color: #FFFFFF;
}

#u293-3,#u295-3
{
	color: #2BDEFF;
}

#u511
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u301,#u297,#u299,#u345
{
	background-color: transparent;
	position: fixed;
}

