.version.larc_en_ciel /* version checker */
{
	color: #00000B;
	background-color: #8027F7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8329681274881px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #11060B url("../../images/02.png") repeat left top;
}

#pu3593
{
	width: 0.01px;
	margin-left: -1px;
}

#u3593
{
	z-index: 113;
	width: 380px;
	margin-right: -10000px;
	left: 1px;
}

#u5709
{
	z-index: 139;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u5710
{
	z-index: 140;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 16px;
}

#accordionu5712wrapper
{
	min-height: 274px;
	z-index: 142;
	margin-bottom: -225px;
	position: relative;
	margin-right: -10000px;
}

#accordionu5712
{
	z-index: 142;
	width: 380px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u5713
{
	z-index: 143;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u5751-3
{
	z-index: 144;
	width: 370px;
	min-height: 29px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u5751-3:hover
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 370px;
	margin: 0px;
}

#u5751-3:active
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 370px;
	margin: 0px;
}

#u5751-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 370px;
	margin: 0px;
}

#u5751-3.AccordionPanelTabOpen p
{
	color: #F8F7F3;
	visibility: inherit;
}

#u5714
{
	z-index: 147;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #F8F7F3;
	position: relative;
}

#menuu5715
{
	z-index: 148;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5744
{
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u5745
{
	width: 380px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #000000;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u5747-4
{
	width: 380px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u5727-4
{
	width: 380px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u5724,#u5731
{
	width: 380px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u5732-4
{
	width: 380px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u5738
{
	width: 380px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u5739-4
{
	width: 380px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u5723,#u5730,#u5737,#u5716
{
	width: 380px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5717
{
	width: 380px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5717.MuseMenuActive
{
	width: 380px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u5720-4
{
	width: 380px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
}

#u5745.MuseMenuActive #u5747-4,#u5724.MuseMenuActive #u5727-4,#u5731.MuseMenuActive #u5732-4,#u5738.MuseMenuActive #u5739-4,#u5717.MuseMenuActive #u5720-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 380px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u4213
{
	z-index: 2;
	width: 380px;
	height: 86px;
	left: -1px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/larcenciel-title.png") no-repeat center center;
}

#u4640
{
	z-index: 77;
	width: 379px;
	background-color: transparent;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u4634-4
{
	z-index: 66;
	width: 365px;
	min-height: 29px;
	background-color: transparent;
	color: #F0D98E;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin-left: 7px;
	margin-top: 10px;
	position: relative;
}

#u4633-4
{
	z-index: 62;
	width: 365px;
	min-height: 17px;
	background-color: transparent;
	color: #F0D98E;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u4631-59
{
	z-index: 3;
	width: 365px;
	min-height: 805px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	line-height: 17px;
	font-weight: normal;
	margin-left: 7px;
	margin-top: 16px;
	position: relative;
}

#u4631-43
{
	color: #E21E79;
}

#u4631,#u4631-9,#u4631-26,#u4631-44
{
	color: #F0D98E;
	font-weight: bold;
}

#u4631-7,#u4631-27,#u4631-45
{
	color: #F0D98E;
}

#u4631-3,#u4631-5,#u4631-11,#u4631-13,#u4631-15,#u4631-17,#u4631-19,#u4631-21,#u4631-29,#u4631-31,#u4631-36,#u4631-38,#u4631-47,#u4631-49,#u4631-51,#u4631-53,#u4631-55
{
	font-weight: bold;
}

#u4636
{
	z-index: 74;
	width: 376px;
	height: 12px;
	border-color: #000000;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x left top;
}

#u4635-4
{
	z-index: 70;
	width: 373px;
	min-height: 26px;
	background-color: transparent;
	text-align: center;
	color: #F0D98E;
	font-weight: bold;
	margin-left: 7px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u4637
{
	z-index: 75;
	width: 372px;
	height: 12px;
	border-color: #000000;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x left top;
}

#u4638
{
	z-index: 76;
	width: 365px;
	min-height: 226px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 3px;
	position: relative;
}

#u6381
{
	z-index: 108;
	width: 374px;
	height: 6px;
	margin-left: 7px;
	margin-top: 23px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center bottom;
}

#u6382-4
{
	z-index: 109;
	width: 365px;
	min-height: 18px;
	background-color: transparent;
	color: #F0D98E;
	text-align: justify;
	font-size: 14px;
	font-weight: bold;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u6378
{
	z-index: 105;
	width: 374px;
	height: 4px;
	margin-left: 7px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center bottom;
}

#u6375-8
{
	z-index: 79;
	width: 367px;
	min-height: 39px;
	background-color: transparent;
	font-weight: bold;
	margin-left: 7px;
	margin-top: 14px;
	position: relative;
}

#u6379
{
	z-index: 106;
	width: 374px;
	height: 4px;
	margin-left: 7px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center top;
}

#u6376-9
{
	z-index: 87;
	width: 367px;
	min-height: 43px;
	background-color: transparent;
	font-weight: bold;
	margin-left: 7px;
	margin-top: 10px;
	position: relative;
}

#u6380
{
	z-index: 107;
	width: 374px;
	height: 4px;
	margin-left: 7px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center top;
}

#u6377-9
{
	z-index: 96;
	width: 367px;
	min-height: 49px;
	background-color: transparent;
	font-weight: bold;
	margin-left: 7px;
	margin-top: 9px;
	position: relative;
}

#u6375-2,#u6376-2,#u6377-2
{
	font-size: 14px;
	line-height: 4px;
	color: #F0D98E;
}

#u6375-3,#u6376-3,#u6377-3
{
	font-size: 18px;
	line-height: 5px;
	color: #F0D98E;
}

#u6375-6,#u6376-7,#u6377-7
{
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

#u6383
{
	z-index: 115;
	width: 380px;
	margin-top: 17px;
}

#u6385
{
	z-index: 117;
	min-height: 49px;
	padding-bottom: 8px;
}

#u6388
{
	z-index: 126;
	width: 230px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u6390
{
	z-index: 128;
	width: 95px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 266px;
}

#u6385-bw
{
	z-index: 117;
	min-height: 49px;
}

#u6392
{
	z-index: 130;
	width: 51px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 223px;
}

#page_position_content,#pu6385,#pu6386
{
	width: 0.01px;
}

#u6386
{
	z-index: 118;
	min-height: 57px;
	padding-bottom: 11px;
}

#u6387-7
{
	z-index: 119;
	width: 342px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 19px;
}

#u6387-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 342px;
	margin: 16px -10000px 0px 0px;
}

#u6386-bw
{
	z-index: 118;
	min-height: 57px;
}

#u6393-8
{
	z-index: 131;
	width: 234px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 19px;
}

#u6393-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 234px;
	margin: 3px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

