.version.l_arcasino /* version checker */
{
	color: #0000FC;
	background-color: #643A0E;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1022.5249999999999px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #11060B url("../../images/02.png") repeat center center;
}

#page_position_content
{
	margin-top: -3px;
	margin-bottom: -5px;
	width: 0.01px;
}

#pu5063
{
	width: 0.01px;
}

#u5063
{
	z-index: 2;
	width: 502px;
	margin-right: -10000px;
	left: 133px;
}

#u5063_img
{
	margin-bottom: -1px;
}

#u5847
{
	z-index: 176;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 15px;
}

#u5849
{
	z-index: 178;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#accordionu5850wrapper
{
	min-height: 377px;
	z-index: 179;
	margin-bottom: -276px;
	position: relative;
	margin-right: -10000px;
}

#accordionu5850
{
	z-index: 179;
	width: 768px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u5851
{
	z-index: 180;
	width: 768px;
	background-color: transparent;
	position: relative;
}

#u5889-3
{
	z-index: 181;
	width: 758px;
	min-height: 81px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u5889-3:hover
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5889-3:active
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5889-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5889-3.AccordionPanelTabOpen p
{
	color: #F8F7F3;
	visibility: inherit;
}

#u5852
{
	z-index: 184;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: #F8F7F3;
	position: relative;
}

#menuu5853
{
	z-index: 185;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5882
{
	width: 768px;
	background-color: transparent;
	position: relative;
}

#u5883
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #000000;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5886-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5871
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5873-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5878
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5878.MuseMenuActive
{
	width: 768px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u5881-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#u5867-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u5868,#u5875,#u5861,#u5854
{
	width: 768px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5864,#u5855
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u5856-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u5883.MuseMenuActive #u5886-4,#u5871.MuseMenuActive #u5873-4,#u5878.MuseMenuActive #u5881-4,#u5864.MuseMenuActive #u5867-4,#u5855.MuseMenuActive #u5856-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 768px;
	margin: 0px -10000px 0px 0px;
}

#u5299
{
	z-index: 119;
	width: 768px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u5299_clip
{
	overflow: hidden;
	width: 768px;
	height: 80px;
}

#u5299_img
{
	margin-left: -77px;
	margin-right: -75px;
}

#u5222
{
	z-index: 6;
	width: 769px;
	background-color: transparent;
	left: -1px;
	margin-top: 15px;
	position: relative;
}

#u6348-30
{
	z-index: 121;
	width: 745px;
	min-height: 185px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	line-height: 19px;
	margin-left: 15px;
	margin-top: 18px;
	position: relative;
}

#u6348-7,#u6348-8,#u6348-12,#u6348-13,#u6348-23,#u6348-24,#u6348-26
{
	font-weight: normal;
}

#u6348-2,#u6348-3,#u6348-5,#u6348-18,#u6348-20,#u6348-28
{
	font-weight: bold;
}

#pu5224
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 8px;
}

#u5224
{
	z-index: 8;
	width: 749px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#slideshowu5226
{
	z-index: 9;
	width: 0.01px;
	height: 285px;
	position: relative;
	margin-right: -10000px;
}

#u5267
{
	position: absolute;
	width: 422px;
	height: 285px;
	background-color: transparent;
}

#u5267popup
{
	z-index: 10;
}

#u5274
{
	z-index: 11;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5280
{
	z-index: 13;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5290
{
	z-index: 15;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5290_img
{
	margin-left: -42px;
	margin-right: -43px;
}

#u5268
{
	z-index: 17;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5270
{
	z-index: 19;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5284
{
	z-index: 21;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5286
{
	z-index: 23;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5282
{
	z-index: 25;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5278
{
	z-index: 27;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5272
{
	z-index: 29;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5276
{
	z-index: 31;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5288
{
	z-index: 33;
	width: 422px;
	height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5274_clip,#u5290_clip,#u5268_clip,#u5270_clip,#u5284_clip,#u5286_clip,#u5282_clip,#u5278_clip,#u5276_clip,#u5288_clip
{
	overflow: hidden;
	width: 422px;
	height: 285px;
}

#u5274_img,#u5268_img,#u5270_img,#u5284_img,#u5286_img,#u5282_img,#u5278_img,#u5276_img,#u5288_img
{
	margin-left: -3px;
	margin-right: -3px;
}

.MenuItem,.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u5225-82
{
	z-index: 35;
	width: 321px;
	min-height: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 428px;
}

#u5225-2
{
	padding-left: 8px;
	color: #D2BC7C;
	font-weight: bold;
}

#u6348-10,#u6348-14,#u6348-17,#u6348-22,#u5225-3
{
	color: #D2BC7C;
	font-weight: bold;
}

#u5225-5
{
	font-size: 13px;
	line-height: 16px;
	color: #D2BC7C;
	font-weight: bold;
}

#u5225-6
{
	color: #F8F7F3;
}

#u5225-9,#u5225-12,#u5225-15,#u5225-16,#u5225-19,#u5225-22,#u5225-25,#u5225-28,#u5225-31,#u5225-32,#u5225-35,#u5225-38,#u5225-41,#u5225-42,#u5225-45,#u5225-48,#u5225-51,#u5225-54,#u5225-57,#u5225-58,#u5225-61,#u5225-64,#u5225-67,#u5225-70,#u5225-73,#u5225-76,#u5225-77,#u5225-80
{
	padding-left: 9px;
	color: #F8F7F3;
}

#u6348,#u6348-15,#u6348-27,#u5225-7,#u5225-10,#u5225-13,#u5225-17,#u5225-20,#u5225-23,#u5225-26,#u5225-29,#u5225-33,#u5225-36,#u5225-39,#u5225-43,#u5225-46,#u5225-49,#u5225-52,#u5225-55,#u5225-59,#u5225-62,#u5225-65,#u5225-68,#u5225-71,#u5225-74,#u5225-78
{
	color: #D2BC7C;
}

#u5297
{
	z-index: 117;
	width: 310px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
	background: transparent url("../../images/line-y.gif") repeat-x left center;
}

#u5298
{
	z-index: 118;
	width: 310px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 432px;
	background: transparent url("../../images/line-y.gif") repeat-x left center;
}

#u5162
{
	z-index: 4;
	width: 502px;
	margin-left: 133px;
	margin-top: 48px;
}

#pu5052
{
	width: 0.01px;
	margin-top: -1px;
}

#u5052
{
	z-index: 151;
	min-height: 72px;
	padding-bottom: 9px;
}

#u5059
{
	z-index: 171;
	width: 142px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 19px;
}

#u5053-8
{
	z-index: 152;
	width: 234px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 200px;
}

#u5053-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 234px;
	margin: 13px -10000px 0px 0px;
}

#u6124
{
	z-index: 173;
	width: 67px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 523px;
}

#u5057
{
	z-index: 169;
	width: 123px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 627px;
}

#u5052-bw
{
	z-index: 151;
	min-height: 72px;
}

#u5054
{
	z-index: 160;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 143px;
}

#u5055-7
{
	z-index: 161;
	width: 302px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 199px;
}

#u5055-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 302px;
	margin: 25px -10000px 0px 0px;
}

#u5056
{
	z-index: 168;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 463px;
}

#u6130
{
	z-index: 175;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 572px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

