.version.larc_en_ciel /* version checker */
{
	color: #000012;
	background-color: #13A246;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1022.8500000000038px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #11060B url("../../images/02.png") repeat center center;
}

#page_position_content
{
	margin-top: -3px;
	margin-bottom: -5px;
	width: 0.01px;
}

#pu5063
{
	width: 0.01px;
}

#u5063
{
	z-index: 2;
	width: 502px;
	margin-right: -10000px;
	left: 133px;
}

#u5063_img
{
	margin-bottom: -1px;
}

#u5937
{
	z-index: 138;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 15px;
}

#u5939
{
	z-index: 140;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#accordionu5940wrapper
{
	min-height: 377px;
	z-index: 141;
	margin-bottom: -276px;
	position: relative;
	margin-right: -10000px;
}

#accordionu5940
{
	z-index: 141;
	width: 768px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u5941
{
	z-index: 142;
	width: 768px;
	background-color: transparent;
	position: relative;
}

#u5979-3
{
	z-index: 143;
	width: 758px;
	min-height: 81px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u5979-3:hover
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5979-3:active
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5979-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 81px;
	width: 758px;
	margin: 0px;
}

#u5979-3.AccordionPanelTabOpen p
{
	color: #F8F7F3;
	visibility: inherit;
}

#u5942
{
	z-index: 146;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: #F8F7F3;
	position: relative;
}

#menuu5943
{
	z-index: 147;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5972
{
	width: 768px;
	background-color: transparent;
	position: relative;
}

#u5973
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #000000;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5976-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5961
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5963-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5971-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u5968,#u5954
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u5957-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u5958,#u5965,#u5951,#u5944
{
	width: 768px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5945
{
	width: 768px;
	min-height: 36px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5945.MuseMenuActive
{
	width: 768px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u5946-4
{
	width: 768px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#u5973.MuseMenuActive #u5976-4,#u5961.MuseMenuActive #u5963-4,#u5968.MuseMenuActive #u5971-4,#u5954.MuseMenuActive #u5957-4,#u5945.MuseMenuActive #u5946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 768px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u5593
{
	z-index: 111;
	width: 768px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u5593_clip
{
	overflow: hidden;
	width: 768px;
	height: 80px;
}

#u5593_img
{
	margin-left: -76px;
	margin-right: -76px;
}

#ppu5581
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 15px;
}

#pu5581
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5581
{
	z-index: 27;
	width: 382px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u5575-4
{
	z-index: 6;
	width: 384px;
	min-height: 29px;
	background-color: transparent;
	color: #F0D98E;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
	position: relative;
}

#u5576-4
{
	z-index: 10;
	width: 384px;
	min-height: 40px;
	background-color: transparent;
	color: #F0D98E;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	margin-top: 9px;
	position: relative;
}

#u5586
{
	z-index: 106;
	width: 384px;
	height: 4px;
	margin-top: 22px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center top;
}

#u5577-4
{
	z-index: 14;
	width: 378px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	color: #F0D98E;
	font-weight: bold;
	position: relative;
}

#u5587
{
	z-index: 107;
	width: 384px;
	height: 4px;
	top: -6px;
	margin-bottom: -4px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x left center;
}

#u5578
{
	z-index: 18;
	width: 383px;
	min-height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u5588
{
	z-index: 108;
	width: 388px;
	height: 4px;
	margin-top: 20px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center bottom;
}

#u5580-8
{
	z-index: 19;
	width: 367px;
	min-height: 39px;
	background-color: transparent;
	font-weight: bold;
	margin-top: 14px;
	position: relative;
}

#u5589
{
	z-index: 109;
	width: 388px;
	height: 4px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center top;
}

#u5583-9
{
	z-index: 29;
	width: 367px;
	min-height: 43px;
	background-color: transparent;
	font-weight: bold;
	margin-top: 11px;
	position: relative;
}

#u5590
{
	z-index: 110;
	width: 388px;
	height: 4px;
	margin-top: 2px;
	position: relative;
	background: transparent url("../../images/line-y.gif") repeat-x center top;
}

#u5584-9
{
	z-index: 38;
	width: 367px;
	min-height: 49px;
	background-color: transparent;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u5580-2,#u5583-2,#u5584-2
{
	font-size: 14px;
	line-height: 4px;
	color: #F0D98E;
}

#u5580-3,#u5583-3,#u5584-3
{
	font-size: 18px;
	line-height: 5px;
	color: #F0D98E;
}

#u5580-6,#u5583-7,#u5584-7
{
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

#u5585-59
{
	z-index: 47;
	width: 334px;
	min-height: 637px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	line-height: 17px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u5585-43
{
	color: #E21E79;
}

#u5585,#u5585-9,#u5585-26,#u5585-44
{
	color: #F0D98E;
	font-weight: bold;
}

#u5585-7,#u5585-27,#u5585-45
{
	color: #F0D98E;
}

#u5585-3,#u5585-5,#u5585-11,#u5585-13,#u5585-15,#u5585-17,#u5585-19,#u5585-21,#u5585-29,#u5585-31,#u5585-36,#u5585-38,#u5585-47,#u5585-49,#u5585-51,#u5585-53,#u5585-55
{
	font-weight: bold;
}

#u5162
{
	z-index: 4;
	width: 502px;
	margin-left: 133px;
	margin-top: 48px;
}

#pu5052
{
	width: 0.01px;
	margin-top: -1px;
}

#u5052
{
	z-index: 113;
	min-height: 72px;
	padding-bottom: 9px;
}

#u5059
{
	z-index: 133;
	width: 142px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 19px;
}

#u5053-8
{
	z-index: 114;
	width: 234px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 200px;
}

#u5053-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 234px;
	margin: 13px -10000px 0px 0px;
}

#u6124
{
	z-index: 135;
	width: 67px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 523px;
}

#u5057
{
	z-index: 131;
	width: 123px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 627px;
}

#u5052-bw
{
	z-index: 113;
	min-height: 72px;
}

#u5054
{
	z-index: 122;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 143px;
}

#u5055-7
{
	z-index: 123;
	width: 302px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 199px;
}

#u5055-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 302px;
	margin: 25px -10000px 0px 0px;
}

#u5056
{
	z-index: 130;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 463px;
}

#u6130
{
	z-index: 137;
	width: 72px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 572px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

